/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.limitar-secao {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}


.sobre,
.especialidades,
.contato {
	padding: 40px 20px 0;
}

.topo,
.links-topo,
.info,
.info-detalhes,
.info-lista,
.especialidades,
.info-cards,
.banner-titulo,
.contato {
	display: flex
}

/* Topo */
main {
    color: #0000008c;
}

header {
    width: 100%;
    background-color: #00cad1;
}

.topo {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    min-height: 60px;
    padding: 0 10px;
    margin: 0 auto;
    font-size: 26px
}

.logo img {
    height: 60px;
}

.links-topo {
   justify-content: space-around;
   flex-wrap: wrap;
   list-style: none;
   gap: 20px;
   padding: 10px;
   
}

.links-topo a {
    font-weight: 600;
    color: #fff;
}

.links-topo a:hover {
    color: #004b4c;
    border-bottom: 2px solid #fff;
}


/* Banner */
.banner {
    width: 100%;
    height: 500px;
    position: relative;

    background-image: url(../assets/recepcao.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-titulo {
    height: 100%;
    color: #fff;
    padding: 10px;
    align-items: center;
}

.banner h1 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 38px;
    margin: 0;
}


/* Sobre */
.info {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    padding: 0 50px;
}

.info-detalhes {
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.info-lista {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.info-lista h3 {
    text-align: center;
}

.info-lista li {
    align-items: center;
    margin-left: 40px;
}


/* Especialidades */
.especialidades {
    flex-direction: column;
    gap: 50px;
}

.info-cards {
    width: 100%;
    justify-content:center ;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.info-cards img {
    overflow: hidden;
    width: 300px;
    margin: 0 auto;
}

figure {
    box-shadow: 0px 0px 5px 3px gray;
    border-radius: 2px;
}

figcaption {
    text-align: center;
    padding: 10px;
    text-transform: uppercase;

}

.horario {
    text-align: center;
    padding: 10px;
}

.horario a {
    color: #fff;
    background-color: #0d6e71;
    padding: 10px;
    border-radius: 2px;
}


/* Contato */
.contato {
    flex-direction: column;
    gap: 20px;
}


/* Rodapé */
footer {
    background-color: #0d6e71;
    color: #fff;
    padding: 20px;
}

footer .limitar-secao {
    text-align: center;
}


/* Media Queries */
/* até 425px (mobile) */
@media (max-width: 425px) {


    .topo {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .logo img {
        height: 40px;
    }

    .links-topo {
        border-top: 1px solid #fff;
    }

    .links-topo a {
        font-size: 12px;
    }

    .banner {
        height: 200px;
    }

    .banner-titulo h1{
        font-size: 18px;
    }

     .info-detalhes img {
        display: none;
    }
}


/* 426px até 768px (tablet) */
@media (min-width: 426px) and (max-width: 768px) {
    .banner {
        height: 300px;
    }

    .banner-titulo h1{
        font-size: 22px;
    }
}


/* 769px até 1024px (desktop) */
@media (min-width: 769px) and (max-width: 1024px) {
    .banner {
        height: 400px;
    }

    .banner-titulo h1{
        font-size: 32px;
    }
}

/* Acima de 1024px*/
@media (min-width: 1025px) {
    .banner {
        height: 500px;
    }
}