* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.limite-area {
    max-width: 940px;
    width: 100%;
}

.topo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    color: #fff;
    font-size: 14px;
    padding-block: 5px;
}

.img-topo {
    width: 50px;
    height: 50px;
}

.topo h1 {
    margin-left: 20px;
    text-align: center;
    align-items: baseline;
}

.conteudo-principal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.imagem-ilha {
    display: flex;
    flex-direction: column;
    margin: 20px 40px 25px 40px;
    overflow: hidden;
    position: relative;
    width: auto;
    height: auto;
}

.imagem-ilha img {
    width: 100%;
    height: auto;
}

figcaption {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-inline: 10px;
    border: none;
    background-color: rgba(190, 185, 185, 0.849);
    color: black;
}

.conteudo-info {
    margin-bottom: 20px;
    font-size: 16px;
    margin-inline: 10px;
}

h2, h3 {
    margin-bottom: 4px;
    width: 100%;
    background-color: rgb(190, 185, 185);
}

.column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.botao {
    margin: 0 auto;
    margin-block: 20px;
    color: #fff;
    background-color: brown;
    border-radius: 4px;
    padding-inline: 5px;
    border: 1px solid brown;
}

.botao:hover {
    background-color: rgb(190, 185, 185);
    color: brown;
    border: 1px solid brown;
}

a {
    text-decoration: none;
    margin-inline: 50px;

}

.rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: brown;
    bottom: 0;
    position: sticky;
    font-size: 13px;
}

.rodape a {
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 0;
}

@media (max-width: 469px) {
    .topo {
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 12px;
    }
    .conteudo-info
    {
        font-size: 14px;
    }

}