/* Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

main {
    width: 100%;
    height: auto;
}

.limitar-secao {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/* Topo da página */
.topo-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0d8a73;
}

.container-topo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 10px;
    font-size: 12px;
}

.topo-logo {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.container-titulo {
    text-align: center;
}

.container-titulo a {
    color: #004f40;
}

.topo-links {
    width: 100%;
    height: auto;
    display: flex;
    justify-content:space-between;
}

.topo-link {
    text-decoration: none;
    color: #004f40;
    font-weight: 600;
    letter-spacing: 1px;
}

.topo-link:hover {
    color: #edbb6c;
    transition: 0.2s;
    text-decoration: 2px underline;
}

/* Seção inicial da página */
.container-background {
    width: 100%;
    height: auto;
    background-color: #0d8a73;
}

.container-banner {
    display: flex;
    justify-content: space-between;
    align-items:center;
    overflow: hidden;
}

.container-banner-descricao {
    width: 100%;
    height: auto;
    padding: 10px;
    color: #fff;
}

.container-banner-descricao  p {
    font-size: 16px;
    line-height: 26px;
    word-spacing: 3px;
}

.container-banner-descricao h2 {
    font-size: 28px;
    line-height: 40px;
    margin: 20px 0px;
    color: #edbb6c;
}

.img-banner {
    max-width: 100%;
    width: 50%;
    height: auto;
}

/* Seção anúncio link tabela */
.container-anuncio-tabela {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10px;
}

.container-anuncio-tabela-descricao {
    width: 60%;
    flex-wrap: wrap;
    text-align: left;
    color: #004f40;
}

.container-anuncio-tabela-descricao h2 {
    margin-bottom: 5px;
}

.botao-link-tabela {
    display: flex;
    align-items: center;

    padding: 20px;
    font-size: 18px;
    font-weight: 700;
    background-color: #0d8a73;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.info-link {
    margin-left: 10px;
}

/* Seção Informações */
.secao-informacoes {
    display: flex;
    flex-direction: column;
    padding: 100px 10px;
    text-align: center;
}

.secao-informacoes h2 {
    width: 90%;
    font-size: 30px;
    margin: 0px auto 60px;
    color: #edbb6c;
}

.secao-informacoes h2 span {
    color: #fff;
}

.container-informacoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    width: 100%;
    height: 400px;
    padding: 5px;
    border: 1px solid #cac7c7;
    border-radius: 4px;
    overflow: hidden;
}

.card img {
    max-width: 100px;
    width: 100%;
    height: auto;
}

.card h3 {
    margin: 10px;
    color: #fff;
}

.card p {
    color: #cac7c7;
}

/* Seção Planos */
.container-background-tabela {
    width: 100%;
    height: auto;
    background-color: #cac7c7;
}

.secao-planos {
    padding: 100px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secao-planos h2 {
    text-align: center;
    margin-bottom: 70px;
    font-size: 30px;
}

.secao-planos h2 span {
    color: #fff;
}

table {
    width: 100%;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0px 2px 14px 8px #0d8a73;
}

table thead th {
    width: 250px;
    max-width: 1024px;
    text-align: center;
    padding: 20px 0px;
    background-color: #fff;
    overflow: hidden;
}

table thead th h3 {
    margin-bottom: 20px;
}

table thead th img {
    width: 100px;
    margin: 0 auto;
}

table thead th p {
    max-width: 250px;
    margin: auto;
    padding-top: 10px;
    font-size: 13px;
    font-weight: 500;
    color: #a89f9f;
}

table tbody td {
    max-width: 100%;
    width: 250px;
    text-align: center;
    font-weight: 500;
    padding: 15px;
}

.linha-impar {
    background-color: #f6f6f6;
}

.linha-par {
    background-color: #fff;
}

/* Rodapé */
.container-rodape {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.rodape-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #edbb6c;
    overflow: hidden;
}

.img-rodape {
    width: 100%;
    max-width: 80px;
    height: 80px;
    margin: 20px;
}

.titulo-site-rodape {
    top: 0;
    margin: 20px ;
}

.titulo-site-rodape p {
    font-weight: 600;
}

.container-contatos {
    text-align: center;
    margin-bottom: 50px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

/* Footer */
footer {
    width: 100%;
    height: auto;
}
.container-copyright {
    width: 100%;
    height: auto;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 40px 10px;
    color: #8b8686;
}

.container-copyright a img {
    margin: 10px 0px 10px 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 1px 1px 8px #8b8686;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

/* Seta inicio */
.seta-inicio {
    text-decoration: none;
    color: #edbb6c;
    background-color: #0d8a73;
    padding: 10px;
    position: fixed;
    right: 10px;
    bottom: 20px;
    box-shadow: 0px 0px 1px 1px #fff;
    border-radius: 10%;
}


/* Media queries */
@media (max-width: 890px) {
    .container-anuncio-tabela {
        font-size: 14px;
    }

    .container-informacoes {
        flex-wrap: wrap;
    }
}

@media (max-width: 710px) {
    .secao-informacoes h2{
        font-size: 22px;
    }

    .card {
        width: auto;
        height: auto;
        padding: 10px;
    }
}

@media (max-width: 629px) {
    .container-topo {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .topo-logo {
        justify-content: center;
    }
    
    .topo-links {
        justify-content: space-evenly;
    }

    .container-banner-descricao  p {
        font-size: 12px;
        line-height: normal;
        word-spacing: 2px;
    }
    
    .container-banner-descricao h2 {
        font-size: 20px;
        line-height: 20px;
        margin: 20px 0px;
    }    

    .botao-link-tabela {
        padding: 10px;
        font-size: 14px;
    }   

    /*Tabela vai mudar aqui*/
   
   

}

@media (max-width: 549px) {
    .container-banner {
        flex-wrap: wrap-reverse;
        justify-content: center;
        text-align: center;
    }

    .img-banner {
        width: 70%;
    }

    .container-anuncio-tabela {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .container-anuncio-tabela-descricao {
        text-align:center;
    }   
}

@media (max-width: 380px) {
    .topo-logo {
        justify-content: start;
        margin-left: 20px;
    }
   
    .topo-links {
        flex-direction: column;
        align-items: start;
        margin-left: 20px;
    }

    .img-rodape {
        width: 100%;
        max-width: 50px;
        height: 50px;
        margin: 10px;
    }

    .titulo-site-rodape {
        font-size: 12px;
    }

    .container-contatos {
        margin-bottom: 50px;
        line-height: 30px;
        font-size: 14px;
    }

}