/* Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.limitar-secao {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

/* Topo da página */
.bck-yellow {
    background-color: #edbb6c;
    color: #004f40;
}

.container-topo {
    position: relative;
    padding: 35px 0px;
}

.topo-logo {
    position: relative;
}

.topo-logo img {
    width: 80px;
}

.topo-logo div {
    position: absolute;
    top: 0;
    left: 95px;
}

.topo-logo p {
    color: #004f40;
    font-weight: 600;
}

.topo-links {
    position: absolute;
    top: 65px;
    right: 0;
}

.topo-links a {
    font-size: 18px;
    padding: 2px 10px;
    text-decoration: none;
    font-weight: 700;
    color: #004f40;
    box-shadow: 3px 3px 3px 3px;
    border-radius: 20%;
    margin: 3px;
}

/* Banner da página */
.secao-banner {
    background-color: #004f40;
}

.container-banner {
    position: relative;
    padding: 180px 0px;
}

.container-banner div{
    color: #fff;
    width: 470px;
}

.container-banner div p {
    font-size: 16px;
    line-height: 26px;
    word-spacing: 3px;
   
}

.container-banner div h2 {
    font-size: 28px;
    line-height: 40px;
    margin: 20px 0px;
    color: #edbb6c;
}

.container-banner img {
    width: 50%;
    position: absolute;
    top: 100px;
    right: 0;
}


/* Seção Primeiro Anúncio */
.click a {
    position: absolute;
    top: 40px;
    right: 0;
    font-size: 18px;
    font-weight: 700;
    padding: 20px;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    background-color: #004f40;
    color: #fff;
    cursor: pointer;
}

.container-primeiro-anuncio {
    position: relative;
    padding: 40px 0;
}

.container-primeiro-anuncio div {
    width: 600px;
}

.container-primeiro-anuncio div h2 {
    margin-bottom: 5px;
    text-align: left;
}

.container-primeiro-anuncio div p {
    text-align: left;
}

.container-primeiro-anuncio a img {
    position: absolute;
    top: 25px;
    left: 0;
    width: 20px;
    margin-left: 20px;
}

.container-primeiro-anuncio a span {
    margin-left: 30px;
}


/* Seção Informações */
.secao-informacoes {
    padding: 100px 0px;
    text-align: center;
    background-color: #004f40;
}

.secao-informacoes h2 {
    width: 900px;
    font-size: 32px;
    margin: 0px auto 60px;
    color: #edbb6c;
}

.secao-informacoes h2 span {
    color: #2f86d6;
}

.container-informacoes {
    position: relative;
    height: 240px;
}

.container-informacoes div {
    width: 33%;
    position: absolute;
    top: 0;
}

.card2 {
    left: 343px;
}

.card3 {
    right: 0;
}

.container-informacoes div img {
    width: 100px;
}

.container-informacoes div h3 {
    margin: 20px;
    color: #fff;
}

.container-informacoes div p {
color: #cac7c7;
}

/* Seção Planos */
.secao-planos {
    padding: 100px 0px;
    background-color: #cac7c7;
}

.secao-planos h2 {
    text-align: center;
    margin-bottom: 70px;
    font-size: 32px;
}

.secao-planos h2 span {
    color: #2f86d6;
}

table {
    border-radius: 4px;
    margin: auto;
    box-shadow: 0px 2px 40px 15px #004f40;
}

table thead th {
    text-align: center;
    padding: 20px 0px;
    background-color: #fff;
}

table thead th h3 {
    margin-bottom: 20px;
}

table thead th img {
    width: 100px;
    margin: auto;
}

table thead th p {
    max-width: 150px;
    margin: auto;
    padding-top: 10px;
    font-size: 13px;
    font-weight: 500;
    color: #a89f9f;
}

table tbody td {
    width: 250px;
    max-width: 1024px;
    text-align: center;
    font-weight: 500;
    padding: 15px;
}

.linha-impar {
    background-color: #f6f6f6;
}

.linha-par {
    background-color: #fff;
}


/* Seção Segundo Anúncio */
.container-segundo-anuncio {
    position: relative;
    padding: 40px 0;
}

.container-segundo-anuncio h2 {
    color: #004f40;
    width: 550px;
    text-align: left;
}

.container-segundo-anuncio a img {
    position: absolute;
    top: 25px;
    left: 0;
    width: 20px;
    margin-left: 20px;
}

.container-segundo-anuncio a span {
    margin-left: 30px;
}


/* Rodapé */
.green {
    background-color: #004f40;
}

.rodape-logo {
    width: 350px;
    position: relative;
    margin: auto;
    color: #edbb6c;
   
}

.rodape-logo img {
    width: 80px;
    margin: 20px ;

}

.rodape-logo div {
    position: absolute;
    left: 95px;
    top: 0;
    margin: 20px ;
}

.rodape-logo p {
    font-weight: 600;
}

.container-contatos {
    text-align: center;
    margin-bottom: 50px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.container-copyright {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 40px 0px;
    background-color: #edbb6c;
}

.container-copyright span {
    color: #fff;
}

.container-copyright a img {
    margin: 10px 0px 10px 0;
    width: 48px;
    height: 48px;
}

footer {
	color: #8b8686;
	text-align: center;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}


#link-topo {
    text-decoration: none;
    color: #edbb6c;
    background-color: #004f40;
    padding: 10px;
    position: fixed;
    right: 10px;
    bottom: 20px;
    box-shadow: 3px 3px 3px 3px #fff;
    border-radius: 10%;
}

#sombra {
    border-radius: 50%;
    box-shadow: 3px 3px 10px #333;
}