div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: chocolate;
    font-style: italic;
    font-size: 28px;
    text-align: center;
    
}

h2 {
    font-style: italic;
    font-weight: normal;
    color: chocolate;
    font-size: 23px;
    text-align: center;
}

h3 {
    color: blueviolet;
    font-style: oblique;
    font-size: medium;
    text-decoration: underline;
}

p {
    font-size: 14px;
    line-height: 25px;
}